body {
	background-color: transparent;
	font-family:font-family: Roboto Condensed Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	}

p {
	font-size: 12pt;
	font-family: Roboto Condensed Light,Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-top:0px;
	}

        .bold { font-weight:bold; }
	.sub { position: relative; top: 0.3em; font-size: 0.8em;}
	.supr { position: relative; bottom: 0.5em; font-size: 0.8em;}
	.centr { align: center; text-align: center;}
	.logo { align: center; text-align: center;}

ul {
	font-size: 12pt;
	font-family: Roboto Condensed Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
	display: block;
	list-style-type: square;
	list-style-position: outside;
	margin-top: 0px;
}

.square {list-style-type: square;}
.circle {list-style-type: circle;}

ol {
	font-size: 12pt;
	font-family: Roboto Condensed Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
	display: block ;
	list-style-type: decimal;
	list-style-position: outside;
	margin-top: 0px;	
}

.numbered {list-style-type: decimal;}	

h1 {
	font-family: Roboto Condensed Regular,Helvetica Neue,Helvetica,Arial,sans-serif;&lt;br&gt;
	font-size: 18pt;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
	}
h2 {
	font-family: Roboto Condensed Regular,Helvetica Neue,Helvetica,Arial,sans-serif;&lt;br&gt;
	color: #003280;
	font-size: 14pt;
	margin-top: 0px;
	margin-bottom: 5px;
}
	
.page_border {
	width: 90%;
	border: 1px black solid;
	-webkit-border-radius: 10px;
	background-color: white;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 10px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto	}
